@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Playfair+Display:ital,wght@1,400;1,600&family=Rubik+Moonrocks&family=Smooch&display=swap');
body{
    text-align: center;
    margin: 0;
    background-color:skyblue;
}
.menu{
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0px;
}
.links{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Titan One', cursive;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 2px gray;
}
.links:hover{
    font-size: 25px;
    text-decoration:underline;
}
html{
    scroll-behavior:smooth;
}
#welcome{
    background: linear-gradient( skyblue, yellow);
    color: green;
}
.profile{
    border-radius: 50%;
    margin-top: 50px;
    width: 400px;
    height: 300px;

}
h1{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    
}
#name{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Staatliches', cursive;
}
h2{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Smooch', cursive;


}#bio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
}
.line{
    height: 5px;
    background-color: black;
    width: 70px;
    margin: auto;
}
p{
    font-size: 20px;
}
#writings a{
    text-shadow: none;
    text-decoration: underline;
}
#writings a:hover{
    color: black;
}



    #contact{
    background-color: firebrick;
    }
    #contact iframe {
    width: 50%;
    margin-top: 10px;
    }
    .contact_1 a{
        color: white;
        text-shadow:none;
    
    }
    .contact_1 h3{
        display: inline;
    }
